<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="title"><h1>KURAGAMES</h1>
                <p>GAMEDEVLOG</p></div>
                <ul class="menu">
                    <a href="#"><li class="menu-item">DIARY <span>Journal</span></li></a>
                    <a href="#"><li class="menu-item">ABOUT <span>A propos</span></li></a>
                    <a href="#"><li class="menu-item">MAIN HOME <span>Accueil principal</span></li></a>
                </ul>
                <div class="social">
                    <a href="#" class="social-item"><img class="banner" src="{{ asset('build/images/facebooklogo.png') }}" alt=""></a>
                    <a href="#" class="social-item"><img class="banner" src="{{ asset('build/images/instalogo.png') }}" alt=""></a>
                    <a href="#" class="social-item"><img class="banner" src="{{ asset('build/images/twitterlogo.png') }}" alt=""></a>
                    <a href="#" class="social-item"><img class="banner" src="{{ asset('build/images/youtubelogo.png') }}" alt=""></a>
                </div>
            </div>
            <div class="waves"></div>
            <img class="banner" src="{{ asset('build/images/imagebanniere.png') }}" alt="">
        </div>

        <div class="container">
        {% block body %}
        {% endblock %}
        </div>
        <div class="footer">
        <div class="waves"></div>
        <div class="content">
            <div class="copyright">
                <img src="{{ asset('build/images/artcyanlogo.png') }}" alt=""  class="copyright-item">
                <div class="copyright-item">
                <h2>KURAGAMES <span>GAMEDEVLOG</span></h2>
                <p>Copyright Artcyan All Rights Reserved</p>
                </div>
            </div>
            <div class="navToTop"><a href="#"><p>TOP <span>Haut de la page</span></p></a></div>
        </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
