<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}KURAGAMES GAMEDEVLOG{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <div class="navbar">
                <div class="title"><h1>KURAGAMES</h1>
                <p>GAMEDEVLOG</p></div>
                <ul class="menu">
                    <a href="{{ path('diary') }}"><li class="menu-item"><span>DIARY</span><p>Journal</p></li></a>
                    <a href="{{ path('diary_create') }}"><li class="menu-item"><span>ABOUT</span><p>A propos</p></li></a>
                    <a href="#"><li class="menu-item"><span>MAIN HOME</span><p>Accueil Principal</p></li></a>
                </ul>
                <div class="social">
                    <a href="https://www.facebook.com/kuragames" target="_blank"><img class="banner" src="{{ asset('build/images/facebooklogo.png') }}" alt=""></a>
                    <a href="https://www.instagram.com/artcyan" target="_blank"><img class="banner" src="{{ asset('build/images/instalogo.png') }}" alt=""></a>
                    <a href="https://twitter.com/Artcyan" target="_blank"><img class="banner" src="{{ asset('build/images/twitterlogo.png') }}" alt=""></a>
                    <a href="https://www.youtube.com/channel/UCaT6phPffFK2hugl8zozytw" target="_blank"><img class="banner" src="{{ asset('build/images/youtubelogo.png') }}" alt=""></a>
                </div>
            </div>
            <div class="waves"></div>
            <img class="banner" src="{{ asset('build/images/imagebanniere.png') }}" alt="">
        </div>

        <div class="container">
        {% block body %}
        {% endblock %}
        </div>
        <div class="footer">
            <div class="waves"></div>
            <div class="content">
                <div class="copyright">
                    <img src="{{ asset('build/images/artcyanlogo.png') }}" alt=""  class="copyright-item">
                    <div class="copyright-item copyright-text">
                            <h2>KURAGAMES</h2>
                            GAMEDEVLOG
                        <p>Copyright Artcyan All Rights Reserved</p>
                    </div>
                </div>
                <div class="navToTop">
                    <a href="#">
                        <h2>TOP</h2>
                        <p>Haut de la page</p>
                    </a>
                </div>
            </div>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
