{% extends 'base.html.twig' %} {% block body %}
  <div class="logs">
    {% for article in articles %}
    <div class="log my-4">

      <div class="d-flex align-items-end">
        <img class="align-self-center mr-3 col-auto" src="{{ asset('build/images/decoration.png') }}" alt="Dessin d'une fleur" />
        <div class="log-infos">
          <div class="h1 bold">{{ article.title }}</div>
          <div class="metadata">{{ article.createdAt | date('Y/m/d H:i')}}</div>
        </div>
        <div class="text-uppercase d-flex flex-column col-auto">
          <div class="d-flex justify-content-center flex-wrap">
            <button class="display-english text-uppercase mx-1 mt-2 px-5 py-1">English</button>
            <button class="display-french text-uppercase mx-1 mt-2 px-5 py-1">Français</button>
          </div>
          {% if app.user %}
          <div class="d-flex justify-content-center flex-wrap">
            <a href="{{ path('diary_edit', { id: article.id }) }}"><button class="text-uppercase mx-1  mt-2 px-5 py-1">
                Editer
              </button></a>
            <a href="{{ path('diary_delete', { id: article.id }) }}"><button
                class="text-uppercase mx-1  mt-2 px-5 py-1">
                Supprimer
              </button></a>
          </div>
          {% endif %}
        </div>
      </div>
      {% if article.video %}
      <div class="embed-responsive embed-responsive-16by9 my-3">
        <iframe class="embed-responsive-item"
          src="{{ "https://www.youtube.com/embed/" ~ article.video | youtube }}"></iframe>
      </div>
      {% endif %}
      {% if article.upload %}
        <img class="log-upload my-3" src="{{ asset('build/uploads/' ~ article.upload) }}" alt="Image de l'article" />
      {% endif %}
      <div class="text-justify content-english">
        {{ article.contentEnglish | raw }}
      </div>
      <div class="text-justify content-french hidden">
        {{ article.content | raw }}
      </div>
      <div class="separator mt-4"></div>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-center">
      {% if articlePage > 1 %}
      <div class="scroll-arrow reverse">
        <a href="/diary?logs={{articlePage - 1}}&comments={{ commentPage }}"><img
            src="{{ asset('build/images/flechedefilement.png') }}" alt="Flèche de défilement"></a>
      </div>
      {% endif %}
      {% if ( totalArticles|length - articlePage * articlesPerPage ) > 0 %}
      <div class="scroll-arrow">
        <a href="/diary?logs={{articlePage + 1}}&comments={{ commentPage }}"><img
            src="{{ asset('build/images/flechedefilement.png') }}" alt="Flèche de défilement"></a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="comments pt-4 mb-4">
    <div class="form-wrapper comment-form">
      <div class="text-uppercase text-center h3 bold">
        Comment section
      </div>

      {{ form_start(formComment) }}

      <div class="form-group">
        {% if app.user %}
        {{form_widget(formComment.author, {'attr': {'placeholder': "Name", 'value':'Artcyan'
        }})}}
        {% else %}
        {{form_widget(formComment.author, {'attr': {'placeholder': "Name"
      }})}}
        {% endif %}

      </div>

      <div class="form-group">
        {{ form_widget(formComment.content, {'attr': {'placeholder': "Comment"
        }}) }}
      </div>

      <button type="submit" class="bold">
        POST
      </button>
      {{ form_end(formComment) }}
    </div>
    {% for comment in comments %}
    <div class="comment mt-4 {% if comment.isVerified %}is-verified{% endif %}">
      <div class="bold comment-author">{% if comment.isVerified %}<img
          src="{{ asset('build/images/artcyanlogo.png') }}" alt="Logo de Artcyan" width="30" />{% endif %}
        {{ comment.author }} </div>
      <p class="text-justify comment-content">{{ comment.content }}</p>
      <div class="separator mt-4"></div>

    </div>
    {% endfor %}
    <div class="d-flex justify-content-center">
      {% if commentPage > 1 %}
      <div class="scroll-arrow reverse">
        <a href="/diary?logs={{articlePage}}&comments={{ commentPage - 1 }}"><img
            src="{{ asset('build/images/flechedefilement.png') }}" alt="Flèche de défilement"></a>
      </div>
      {% endif %}
      {% if ( totalComments|length - commentPage * commentsPerPage ) > 0 %}
      <div class="scroll-arrow">
        <a href="/diary?logs={{articlePage}}&comments={{ commentPage + 1 }}"><img
            src="{{ asset('build/images/flechedefilement.png') }}" alt="Flèche de défilement"></a>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}